.container
  - if Accountability::Configuration.dev_tools_enabled?
    = render partial: 'accountability/shared/session_info'

  - if current_order_group.order_items.any?
    = link_to 'Shopping Cart', accountability_order_group_path(current_order_group), class: 'btn btn-outline-primary float-right ml-2'

  - if current_account.present?
    = link_to 'Billing', accountability_account_path(current_account), class: 'btn btn-outline-primary float-right ml-2'

  %h1.mb-5 Products

  - @products.each do |product|
    .card.mb-4
      .card-header
        = product.name
      .card-body
        = product.description
        = button_to 'Add to cart', add_item_accountability_order_group_path(current_order_group, product_id: product.id), class: 'btn btn-outline-success float-right'

  - if admin_session?
    = link_to 'Add New Product', new_accountability_product_path, class: 'btn btn-outline-primary float-right mt-5'
