.container
  = render partial: 'accountability/shared/session_info'

  = link_to 'Shopping Cart', accountability_order_group_path(current_order_group), class: 'btn btn-outline-primary float-right'

  - if admin_session?
    = link_to 'New Product', new_accountability_product_path, class: 'btn btn-outline-primary float-right mx-3'

  %h1.mb-5 Products

  - @products.each do |product|
    .card
      .card-header
        = product.name
      .card-body
        = product.description
        = button_to 'Add to cart', add_item_accountability_order_group_path(current_order_group, product_id: product.id), class: 'btn btn-outline-success float-right'
