.container
  = link_to 'Back', accountability_products_path, class: 'btn btn-outline-primary float-right'

  %h1.mb-5 New Product

  - @product.errors.full_messages.each do |message|
    .alert.alert-danger
      = message

  = form_with model: [:accountability, @product], local: true do |f|
    .card.my-3
      .card-body
        -# WHEN I GET BACK - Add scope fields and stuff - they only show when @stage is set to 'final' from :create
        -# .. also we should probably run validations on the fields we show .. or at least the category field

        -# TODO: Add dev only instructions

        %h3.mb-4 Product Info

        .form-row
          .form-group.col-md-4
            = f.label :offerable_category
            = f.select :offerable_category, source_class_options, { }, { disabled: disable_category_field?, class: 'form-control' }
          .form-group.col-md-8
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group.optional-fields.col-md-2
            = f.label :sku
            = f.text_field :sku, class: 'form-control'
          .form-group.col-md-3
            = f.label :price
            = f.number_field :price, step: 2, class: 'form-control'
          .form-group.col-md-4
            = f.label :schedule
            = f.select :schedule, schedule_options, {}, {class: 'form-control' }
          .form-group.col-md-3
            = f.label :quantity
            = f.text_field :quantity, class: 'form-control'
          .form-group.col-md-12
            = f.label :description
            = f.text_area :description, class: 'form-control'

      - if @stage == 'final'

        %hr
        .card-body
          %h3.mb-4 Details
          .form-row
            - @product.scopes.each do |scope|
              .form-group.col-md-12
                = f.label :offerable_category, scope.title.titleize
                = f.select :offerable_category, scope_options(scope), { }, { class: 'form-control' }

        %hr
        .card-body
          %h3.mb-4 Availability Options

          .form-row
            .form-group.optional-fields.col-md-12
              = f.label :activation_date
              = f.datetime_field :activation_date, class: 'form-control'
              %em.small Product or service becomes available for purchase and use
            .form-group.optional-fields.col-md-12
              = f.label :expiration_date
              = f.datetime_field :expiration_date, class: 'form-control'
              %em.small Product or service is no longer available for purchase
            .form-group.optional-fields.col-md-12
              = f.label :termination_date
              = f.datetime_field :termination_date, class: 'form-control'
              %em.small Product or service is no longer available for use

    = link_to 'Reset', new_accountability_product_path, class: 'btn btn-outline-secondary float-right'
    = f.button 'Submit', type: :submit, name: :stage, value: @stage, class: 'btn btn-success'
